* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(34, 10, 78);
  color: white;
}
header {
  text-align: center;
}
header img {
  height: 300px;
}
#app {
  margin-right: 70px;
}